.souscription-form-title-yasmine{
    padding: 15px;
    background: #cd1530;
    color: #fff;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0;
    font-size: 25px;
    width: fit-content;
    font-style: italic;


  }
  .souscription-form-content-yasmine{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ee8d32;
        
      }
  .souscription-form-yasmine{
    
      background: #fff;
      padding: 50px;
      border-top: 10px solid #cd1530;
      
   
  }
  